@import "@/styles/variables.scss";


%btn-font {
    color: $color-blue;
    cursor: pointer;
    background: none;



}

%font-compBlock {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0em;

}


.container {
    margin: auto 80px;
    padding: 40px 0;
}

.compBlock {
    background: $color-f9f9fb;
    width: 100%;

    >div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    h2 {
        @extend %font-compBlock;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        color: $color-dark;
    }

    .compTopDiv {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        button {
            @extend %font-compBlock;

            @extend %btn-font;
            border: none;
            display: flex;
            gap: 10px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .compBottomDiv {
        display: flex;
        justify-content: space-between;

        >div {
            cursor: pointer;
            width: 292px;
            height: 379px;
            display: flex;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            flex-direction: column;
            position: relative;

            >div:nth-child(1) {
                position: relative;
                z-index: 1;
                height: fit-content;
                height: 199px;

                img:nth-child(1) {
                    width: 100%;
                    border-radius: 3px 3px 0 0;
                }

                img:nth-child(2) {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                }
            }

            >div:nth-child(2) {
                position: absolute;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                border-radius: 3px;
                bottom: 0%;
                right: 0%;
                height: 185px;
                background: $color-white;
                z-index: 2;

                .line {
                    width: 37px;
                    height: 0px;
                    border: 1px solid $color-d7d7d7;
                }

                button {
                    @extend %font-compBlock;
                    @extend %btn-font;
                    height: 39px;
                    border: 1px solid $color-blue;
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 17px;
                    width: 100%;
                }

            }
        }
    }
}

@media(max-width:576px) {
    .compBlock {
        background-color: $color-white;
        overflow-x: scroll;
        padding-bottom: 60px;
        >div {
            width: 315%;
        }
        h2 {
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    .container {
        margin: 0px 20px;
        padding: 0;
    }
}