@import "@/styles/variables.scss";

.passwordAutorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 158px;
  p {
    width: 320px;
    color: $color-575656;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .password {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  input {
    width: 386px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 0.621px solid $color-575656;
    background: $color-white;
  }
  input[type="password"] {
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .btn {
      width: 386px;
      height: 55px;
      flex-shrink: 0;
      border-radius: 3px;
      border: 0.621px solid $color-blue;
      background: $color-blue;
      color: $color-white;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #575656;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.inputPassword {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    width: 20px;
  }
}
