$color-blue: #0069ff;
$color-white: #fff;
$color-darkGray: #333;
$color-lightGray: #d7d7d7;
$color-gray: #575656;
$color-lightGrayTransparency: #f9f9fb;
$color-paleGray: #ececec;
$color-veryLightGray: #f3f3f3