@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.discountsBLock {
  padding: 40px 88px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards {
  display: flex;
  gap: 20px;
}

@media (max-width: 576px), (max-width: 900px) {
  .discountsBLock {
    padding: 20px;
    h1 {
      font-size: 18px;
    }
  }
}
