@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.discountsBLock {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards {
  display: flex;
  gap: 20px;
}
