@import "@/styles/variables.scss";

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 16px;
}
.menu_button,
.search {
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
}
.burger {
  display: flex;
  margin-left: auto;
}

.menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 10px;
  width: 310px;
  height: 385px;
  padding: 25px;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25),
    -2px -2px 6px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}
.dropMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.menu_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu_item {
  margin-top: 15px;
  // text-align: center;
  color: var(--11-text-color-light-02-text-secondary, #637381);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
}
.menu_item:hover {
  color: red;
}
.line {
  width: 176px;
  height: 1px;
  background-color: $color-d7d7d7;
}
.login {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: $color-575656;

    /* Headline Medium */
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.map {
  background: url("/assets/images/image\ 1.svg");
  width: 270px;
  height: 95px;
  flex-shrink: 0;
  div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .btn {
    width: 200px;
    height: 39px;
    padding: 10px 35px;
    color: $color-blue;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid var(--main-blue, #0069ff);
    background: #fff;
  }
}
