.servicesBlock {
  background-color: #F9F9FB;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 88px;
}
.cards {
  display: flex;
  gap: 32px;
}
@media (max-width: 1300px) {
  .servicesBlock {
    background-color: white;
    padding: 20px;
    h1 {
      font-size: 20px;
    }
  }
  .cards {
    flex-direction: column;
  }
}
