@import "@/styles/variables.scss";

.cardRieltors {
  width: 292px;
  height: 79px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid $color-ececec;
  background: $color-white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  .cardRieltor {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
      color: $color-dark;

      /* Title 3 Medium */
      font-family: Montserrat;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: $color-575656;

      /* Subtitle 4 Medium */
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
